# Trafiek External domain name
DOMAIN_NAME="external-domain.name.com"
EMAIL="juanantoniofm.11@gmail.com"
# Generic DB info
DB_HOST="${dbhost}"
DB_PORT="${dbport}"
# Jatos Configuration
JATOS_URL_BASE_PATH="/mybasepath/"
# Jatos database connection
JATOS_DB_URL="jdbc:mysql://${DB_HOST}/${JATOS_DB_USERNAME}?characterEncoding=UTF-8&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC"
JATOS_DB_USERNAME=${JATOS_DB_USERNAME}
JATOS_DB_PASSWORD="${JATOS_DB_PASSWORD}"
JATOS_DB_DRIVER=com.mysql.cj.jdbc.Driver
# Jatos Assets
JATOS_STUDY_ASSETS_ROOT_PATH="/path/to/my/assets/root/folder"
JATOS_STUDY_LOGS_PATH="./study_logs"
# Jatos Results
JATOS_RESULT_UPLOADS_PATH="/path/to/my/result/upload/folder"
JATOS_RESULT_UPLOADS_LIMIT_PER_STUDY_RUN=100MB
JATOS_RESULT_UPLOADS_MAX_FILE_SIZE=50MB