JATOS_DB_URL="jdbc:mysql://${DB_HOST}/${JATOS_DB_USERNAME}?characterEncoding=UTF-8"
JATOS_DB_USERNAME=${JATOS_DB_USERNAME}
JATOS_DB_PASSWORD=${JATOS_DB_PASSWORD}
JATOS_DB_DRIVER="com.mysql.jdbc.Driver"
JATOS_STUDY_LOGS_PATH="./study_logs"
